.snowball {
  width: 31.25rem;
  height: 31.25rem;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  bottom: -13rem;
  z-index: 0;
  -webkit-transform: scale(0.1);
      -ms-transform: scale(0.1);
          transform: scale(0.1);
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
          transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
  opacity: 0;
}
.snowball.is-shown {
  -webkit-transform: scale(12);
      -ms-transform: scale(12);
          transform: scale(12);
  opacity: 1;
  z-index: 2;
}
.snowball--by {
  right: -13rem;
}
.snowball--with {
  right: -9.6875rem;
}
.credits {
  position: absolute;
  right: 1.5625rem;
  bottom: 3.4375rem;
  z-index: 1;
  color: #fff;
  font-family: Open Sans, sans-serif;
  font-size: 0.5rem;
  letter-spacing: 0.05rem;
  padding-left: 5.9375rem;
}
.credits .with {
  position: absolute;
  left: 0;
}
.by {
  padding-right: 1.875rem;
}
.by__text {
  position: relative;
  top: 1rem;
}
.by__logo {
  cursor: pointer;
  width: 1.125rem;
  height: 1.5rem;
  position: absolute;
  right: 0;
  top: 0.5rem;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB3aWR0aD0iMThweCIgaGVpZ2h0PSIyNHB4IiB2aWV3Qm94PSIwIDAgMTggMjQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeG1sbnM6c2tldGNoPSJodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2gvbnMiPiAgICAgICAgPHRpdGxlPlNsaWNlIDE8L3RpdGxlPiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4gICAgPGRlZnM+PC9kZWZzPiAgICA8ZyBpZD0iUGFnZS0xIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBza2V0Y2g6dHlwZT0iTVNQYWdlIj4gICAgICAgIDxnIGlkPSJtdXNocm9vbS0yIiBza2V0Y2g6dHlwZT0iTVNMYXllckdyb3VwIj4gICAgICAgICAgICA8cGF0aCBkPSJNMCw2IEwxOCw2IEwxOCw5IEwwLDkgTDAsNiBaIiBpZD0iRmlsbC0yIiBmaWxsPSIjRTQ2QTc1IiBza2V0Y2g6dHlwZT0iTVNTaGFwZUdyb3VwIj48L3BhdGg+ICAgICAgICAgICAgPHBhdGggZD0iTTMsMyBMMTUsMyBMMTUsNiBMMyw2IEwzLDMgWiIgaWQ9IkZpbGwtMyIgZmlsbD0iI0U0NkE3NSIgc2tldGNoOnR5cGU9Ik1TU2hhcGVHcm91cCI+PC9wYXRoPiAgICAgICAgICAgIDxwYXRoIGQ9Ik02LDAgTDEyLDAgTDEyLDMgTDYsMyBMNiwwIFoiIGlkPSJGaWxsLTQiIGZpbGw9IiNFNDZBNzUiIHNrZXRjaDp0eXBlPSJNU1NoYXBlR3JvdXAiPjwvcGF0aD4gICAgICAgICAgICA8cGF0aCBkPSJNNiwxNSBMMTIsMTUgTDEyLDE4IEw2LDE4IEw2LDE1IFoiIGlkPSJGaWxsLTUiIGZpbGw9IiNGMUFDOEMiIHNrZXRjaDp0eXBlPSJNU1NoYXBlR3JvdXAiPjwvcGF0aD4gICAgICAgICAgICA8cGF0aCBkPSJNNiwxMiBMMTIsMTIgTDEyLDE1IEw2LDE1IEw2LDEyIFoiIGlkPSJGaWxsLTYiIGZpbGw9IiNCNDY0NzkiIHNrZXRjaDp0eXBlPSJNU1NoYXBlR3JvdXAiPjwvcGF0aD4gICAgICAgICAgICA8cGF0aCBkPSJNNiw5IEwxMiw5IEwxMiwxMiBMNiwxMiBMNiw5IFoiIGlkPSJGaWxsLTciIGZpbGw9IiM2NTU0NkUiIHNrZXRjaDp0eXBlPSJNU1NoYXBlR3JvdXAiPjwvcGF0aD4gICAgICAgICAgICA8cGF0aCBkPSJNNiwxOCBMMTIsMTggTDEyLDI0IEw2LDI0IEw2LDE4IFoiIGlkPSJGaWxsLTgiIGZpbGw9IiNGMUFDOEMiIHNrZXRjaDp0eXBlPSJNU1NoYXBlR3JvdXAiPjwvcGF0aD4gICAgICAgICAgICA8cGF0aCBkPSJNMTAuNSw2IEwxMy41LDYgTDEzLjUsOSBMMTAuNSw5IEwxMC41LDYgWiIgaWQ9IkZpbGwtOSIgZmlsbD0iI0YxQUM4QyIgc2tldGNoOnR5cGU9Ik1TU2hhcGVHcm91cCI+PC9wYXRoPiAgICAgICAgICAgIDxwYXRoIGQ9Ik02LDMgTDksMyBMOSw2IEw2LDYgTDYsMyBaIiBpZD0iRmlsbC0xMCIgZmlsbD0iI0YxQUM4QyIgc2tldGNoOnR5cGU9Ik1TU2hhcGVHcm91cCI+PC9wYXRoPiAgICAgICAgPC9nPiAgICA8L2c+PC9zdmc+");
}
.with {
  padding-right: 2.5rem;
}
.with__text {
  position: relative;
  top: 1rem;
}
.with__logo {
  cursor: pointer;
  width: 1.9375rem;
  height: 2.1875rem;
  position: absolute;
  right: 0;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzFweCIgaGVpZ2h0PSIzNXB4IiB2aWV3Qm94PSIwIDAgMzEgMzUiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+ICAgIDxnIGlkPSJQYWdlLTEiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPiAgICAgICAgPGcgaWQ9Ik92YWwtMjItKy1tby3Cty0tanMiIGZpbGw9IiNGMzQyNDYiPiAgICAgICAgICAgIDxwYXRoIGQ9Ik0xNSwwIEMyMC41MjI4NDc1LDAgMjUsNC40NzcxNTI1IDI1LDEwIEMyNSwxNS41MjI4NDc1IDIwLjUyMjg0NzUsMjAgMTUsMjAgQzkuNDc3MTUyNSwyMCA1LDE1LjUyMjg0NzUgNSwxMCBDNSw0LjQ3NzE1MjUgOS40NzcxNTI1LDAgMTUsMCBaIE0xNC45OTk0MDM0LDUuMDg2Nzk4MzEgQzE3LjcxMzIxOTMsNS4wODY3OTgzMSAxOS45MTMyMDE3LDcuMjg2NzgwNzIgMTkuOTEzMjAxNywxMC4wMDA1OTY2IEMxOS45MTMyMDE3LDEyLjcxNDQxMjQgMTcuNzEzMjE5MywxNC45MTQzOTQ4IDE0Ljk5OTQwMzQsMTQuOTE0Mzk0OCBDMTIuMjg1NTg3NiwxNC45MTQzOTQ4IDEwLjA4NTYwNTIsMTIuNzE0NDEyNCAxMC4wODU2MDUyLDEwLjAwMDU5NjYgQzEwLjA4NTYwNTIsNy4yODY3ODA3MiAxMi4yODU1ODc2LDUuMDg2Nzk4MzEgMTQuOTk5NDAzNCw1LjA4Njc5ODMxIFoiIGlkPSJPdmFsLTIyIj48L3BhdGg+ICAgICAgICAgICAgPHBhdGggZD0iTTAuNjA1NDY4NzUsMjguNzUgTDEuMTQ4NDM3NSwyOC43NSBMMS4xNDg0Mzc1LDI5LjQ4NDM3NSBDMS4zMzg1NDI2MiwyOS4yMTM1NDAzIDEuNTMzODUzMTYsMjkuMDE1NjI1NiAxLjczNDM3NSwyOC44OTA2MjUgQzIuMDEwNDE4MDUsMjguNzIzOTU3NSAyLjMwMDc3OTczLDI4LjY0MDYyNSAyLjYwNTQ2ODc1LDI4LjY0MDYyNSBDMi44MTExOTg5NSwyOC42NDA2MjUgMy4wMDY1MDk0OSwyOC42ODA5ODkyIDMuMTkxNDA2MjUsMjguNzYxNzE4OCBDMy4zNzYzMDMwMSwyOC44NDI0NDgzIDMuNTI3MzQzMTYsMjguOTQ5ODY5MSAzLjY0NDUzMTI1LDI5LjA4Mzk4NDQgQzMuNzYxNzE5MzQsMjkuMjE4MDk5NiAzLjg2MzI4MDgyLDI5LjQxMDE1NSAzLjk0OTIxODc1LDI5LjY2MDE1NjIgQzQuMTMxNTExMzMsMjkuMzI2ODIxMyA0LjM1OTM3MzYzLDI5LjA3MzU2ODYgNC42MzI4MTI1LDI4LjkwMDM5MDYgQzQuOTA2MjUxMzcsMjguNzI3MjEyNyA1LjIwMDUxOTI2LDI4LjY0MDYyNSA1LjUxNTYyNSwyOC42NDA2MjUgQzUuODA5ODk3MywyOC42NDA2MjUgNi4wNjk2NjAzMywyOC43MTQ4NDMgNi4yOTQ5MjE4OCwyOC44NjMyODEyIEM2LjUyMDE4MzQyLDI5LjAxMTcxOTUgNi42ODc0OTk0NSwyOS4yMTg3NDg3IDYuNzk2ODc1LDI5LjQ4NDM3NSBDNi45MDYyNTA1NSwyOS43NTAwMDEzIDYuOTYwOTM3NSwzMC4xNDg0MzQ4IDYuOTYwOTM3NSwzMC42Nzk2ODc1IEw2Ljk2MDkzNzUsMzMgTDYuNDAyMzQzNzUsMzMgTDYuNDAyMzQzNzUsMzAuNjc5Njg3NSBDNi40MDIzNDM3NSwzMC4yMjM5NTYxIDYuMzY5NzkxOTksMjkuOTEwODA4MSA2LjMwNDY4NzUsMjkuNzQwMjM0NCBDNi4yMzk1ODMwMSwyOS41Njk2NjA2IDYuMTI4MjU2LDI5LjQzMjI5MjIgNS45NzA3MDMxMiwyOS4zMjgxMjUgQzUuODEzMTUwMjUsMjkuMjIzOTU3OCA1LjYyNTAwMTA5LDI5LjE3MTg3NSA1LjQwNjI1LDI5LjE3MTg3NSBDNS4xNDA2MjM2NywyOS4xNzE4NzUgNC44OTc3ODc1NiwyOS4yNDk5OTkyIDQuNjc3NzM0MzgsMjkuNDA2MjUgQzQuNDU3NjgxMTksMjkuNTYyNTAwOCA0LjI5Njg3NTUxLDI5Ljc3MDgzMiA0LjE5NTMxMjUsMzAuMDMxMjUgQzQuMDkzNzQ5NDksMzAuMjkxNjY4IDQuMDQyOTY4NzUsMzAuNzI2NTU5NSA0LjA0Mjk2ODc1LDMxLjMzNTkzNzUgTDQuMDQyOTY4NzUsMzMgTDMuNSwzMyBMMy41LDMwLjgyNDIxODggQzMuNSwzMC4zMTExOTU0IDMuNDY4MDk5MjgsMjkuOTYyODkxNSAzLjQwNDI5Njg4LDI5Ljc3OTI5NjkgQzMuMzQwNDk0NDcsMjkuNTk1NzAyMiAzLjIyOTE2NzQ2LDI5LjQ0ODU2ODMgMy4wNzAzMTI1LDI5LjMzNzg5MDYgQzIuOTExNDU3NTQsMjkuMjI3MjEzIDIuNzIyNjU3MzQsMjkuMTcxODc1IDIuNTAzOTA2MjUsMjkuMTcxODc1IEMyLjI1MTMwMDgyLDI5LjE3MTg3NSAyLjAxNDk3NTA2LDI5LjI0ODA0NjEgMS43OTQ5MjE4OCwyOS40MDAzOTA2IEMxLjU3NDg2ODY5LDI5LjU1MjczNTEgMS40MTIxMDk5LDI5Ljc1NzgxMTIgMS4zMDY2NDA2MiwzMC4wMTU2MjUgQzEuMjAxMTcxMzUsMzAuMjczNDM4OCAxLjE0ODQzNzUsMzAuNjY3OTY2MSAxLjE0ODQzNzUsMzEuMTk5MjE4OCBMMS4xNDg0Mzc1LDMzIEwwLjYwNTQ2ODc1LDMzIEwwLjYwNTQ2ODc1LDI4Ljc1IFogTTEwLjYyNSwyOC42NDA2MjUgQzExLjI3ODY0OTEsMjguNjQwNjI1IDExLjgyMDMxMDQsMjguODc3NjAxOCAxMi4yNSwyOS4zNTE1NjI1IEMxMi42NDA2MjcsMjkuNzgzODU2MyAxMi44MzU5Mzc1LDMwLjI5NTU3IDEyLjgzNTkzNzUsMzAuODg2NzE4OCBDMTIuODM1OTM3NSwzMS40ODA0NzE3IDEyLjYyOTU1OTQsMzEuOTk5MzQ2NyAxMi4yMTY3OTY5LDMyLjQ0MzM1OTQgQzExLjgwNDAzNDQsMzIuODg3MzcyIDExLjI3MzQ0MDcsMzMuMTA5Mzc1IDEwLjYyNSwzMy4xMDkzNzUgQzkuOTczOTU1MDgsMzMuMTA5Mzc1IDkuNDQyMDU5MzYsMzIuODg3MzcyIDkuMDI5Mjk2ODgsMzIuNDQzMzU5NCBDOC42MTY1MzQzOSwzMS45OTkzNDY3IDguNDEwMTU2MjUsMzEuNDgwNDcxNyA4LjQxMDE1NjI1LDMwLjg4NjcxODggQzguNDEwMTU2MjUsMzAuMjk4MTc0MSA4LjYwNTQ2NjgsMjkuNzg3NzYyNiA4Ljk5NjA5Mzc1LDI5LjM1NTQ2ODggQzkuNDI1NzgzNCwyOC44Nzg5MDM5IDkuOTY4NzQ2NzIsMjguNjQwNjI1IDEwLjYyNSwyOC42NDA2MjUgTDEwLjYyNSwyOC42NDA2MjUgWiBNMTAuNjI1LDI5LjE3NTc4MTIgQzEwLjE3MTg3MjcsMjkuMTc1NzgxMiA5Ljc4MjU1MzcxLDI5LjM0Mzc0ODMgOS40NTcwMzEyNSwyOS42Nzk2ODc1IEM5LjEzMTUwODc5LDMwLjAxNTYyNjcgOC45Njg3NSwzMC40MjE4NzI2IDguOTY4NzUsMzAuODk4NDM3NSBDOC45Njg3NSwzMS4yMDU3MzA3IDkuMDQyOTY4MDEsMzEuNDkyMTg2MiA5LjE5MTQwNjI1LDMxLjc1NzgxMjUgQzkuMzM5ODQ0NDksMzIuMDIzNDM4OCA5LjU0MDM2MzMyLDMyLjIyODUxNDkgOS43OTI5Njg3NSwzMi4zNzMwNDY5IEMxMC4wNDU1NzQyLDMyLjUxNzU3ODggMTAuMzIyOTE1MiwzMi41ODk4NDM4IDEwLjYyNSwzMi41ODk4NDM4IEMxMC45MjcwODQ4LDMyLjU4OTg0MzggMTEuMjA0NDI1OCwzMi41MTc1Nzg4IDExLjQ1NzAzMTIsMzIuMzczMDQ2OSBDMTEuNzA5NjM2NywzMi4yMjg1MTQ5IDExLjkxMDE1NTUsMzIuMDIzNDM4OCAxMi4wNTg1OTM4LDMxLjc1NzgxMjUgQzEyLjIwNzAzMiwzMS40OTIxODYyIDEyLjI4MTI1LDMxLjIwNTczMDcgMTIuMjgxMjUsMzAuODk4NDM3NSBDMTIuMjgxMjUsMzAuNDIxODcyNiAxMi4xMTc4NDAyLDMwLjAxNTYyNjcgMTEuNzkxMDE1NiwyOS42Nzk2ODc1IEMxMS40NjQxOTExLDI5LjM0Mzc0ODMgMTEuMDc1NTIzMSwyOS4xNzU3ODEyIDEwLjYyNSwyOS4xNzU3ODEyIEwxMC42MjUsMjkuMTc1NzgxMiBaIE0xOC44MDg1OTM4LDI5LjYwMTU2MjUgQzE4LjkzMzU5NDQsMjkuNjAxNTYyNSAxOS4wNDAzNjQxLDI5LjY0NTgzMjkgMTkuMTI4OTA2MiwyOS43MzQzNzUgQzE5LjIxNzQ0ODQsMjkuODIyOTE3MSAxOS4yNjE3MTg4LDI5LjkyOTY4NjkgMTkuMjYxNzE4OCwzMC4wNTQ2ODc1IEMxOS4yNjE3MTg4LDMwLjE3OTY4ODEgMTkuMjE3NDQ4NCwzMC4yODY0NTc5IDE5LjEyODkwNjIsMzAuMzc1IEMxOS4wNDAzNjQxLDMwLjQ2MzU0MjEgMTguOTMzNTk0NCwzMC41MDc4MTI1IDE4LjgwODU5MzgsMzAuNTA3ODEyNSBDMTguNjgzNTkzMSwzMC41MDc4MTI1IDE4LjU3NjgyMzQsMzAuNDYzNTQyMSAxOC40ODgyODEyLDMwLjM3NSBDMTguMzk5NzM5MSwzMC4yODY0NTc5IDE4LjM1NTQ2ODgsMzAuMTc5Njg4MSAxOC4zNTU0Njg4LDMwLjA1NDY4NzUgQzE4LjM1NTQ2ODgsMjkuOTI5Njg2OSAxOC4zOTk3MzkxLDI5LjgyMjkxNzEgMTguNDg4MjgxMiwyOS43MzQzNzUgQzE4LjU3NjgyMzQsMjkuNjQ1ODMyOSAxOC42ODM1OTMxLDI5LjYwMTU2MjUgMTguODA4NTkzOCwyOS42MDE1NjI1IEwxOC44MDg1OTM4LDI5LjYwMTU2MjUgWiBNMjUuODYzMjgxMiwyNyBDMjUuOTg4MjgxOSwyNyAyNi4wOTQ0MDA2LDI3LjA0NDI3MDQgMjYuMTgxNjQwNiwyNy4xMzI4MTI1IEMyNi4yNjg4ODA2LDI3LjIyMTM1NDYgMjYuMzEyNSwyNy4zMjgxMjQ0IDI2LjMxMjUsMjcuNDUzMTI1IEMyNi4zMTI1LDI3LjU3NTUyMTQgMjYuMjY4ODgwNiwyNy42ODA5ODkxIDI2LjE4MTY0MDYsMjcuNzY5NTMxMiBDMjYuMDk0NDAwNiwyNy44NTgwNzM0IDI1Ljk4ODI4MTksMjcuOTAyMzQzOCAyNS44NjMyODEyLDI3LjkwMjM0MzggQzI1LjczODI4MDYsMjcuOTAyMzQzOCAyNS42MzIxNjE5LDI3Ljg1ODA3MzQgMjUuNTQ0OTIxOSwyNy43Njk1MzEyIEMyNS40NTc2ODE5LDI3LjY4MDk4OTEgMjUuNDE0MDYyNSwyNy41NzU1MjE0IDI1LjQxNDA2MjUsMjcuNDUzMTI1IEMyNS40MTQwNjI1LDI3LjMyODEyNDQgMjUuNDU3NjgxOSwyNy4yMjEzNTQ2IDI1LjU0NDkyMTksMjcuMTMyODEyNSBDMjUuNjMyMTYxOSwyNy4wNDQyNzA0IDI1LjczODI4MDYsMjcgMjUuODYzMjgxMiwyNyBMMjUuODYzMjgxMiwyNyBaIE0yNS41OTM3NSwyOC43NSBMMjYuMTQ4NDM3NSwyOC43NSBMMjYuMTQ4NDM3NSwzMy42NDA2MjUgQzI2LjE0ODQzNzUsMzMuOTk3Mzk3NiAyNi4wODM5ODUsMzQuMjU3MTYwNiAyNS45NTUwNzgxLDM0LjQxOTkyMTkgQzI1LjgyNjE3MTIsMzQuNTgyNjgzMSAyNS42NDk3NDA3LDM0LjY2NDA2MjUgMjUuNDI1NzgxMiwzNC42NjQwNjI1IEMyNS4yNDA4ODQ1LDM0LjY2NDA2MjUgMjUuMDMyNTUzMiwzNC42MTk3OTIxIDI0LjgwMDc4MTIsMzQuNTMxMjUgTDI0LjgwMDc4MTIsMzQuMDM5MDYyNSBDMjQuOTQ2NjE1MywzNC4xMTQ1ODM3IDI1LjA3ODEyNDQsMzQuMTUyMzQzOCAyNS4xOTUzMTI1LDM0LjE1MjM0MzggQzI1LjM0Mzc1MDcsMzQuMTUyMzQzOCAyNS40NTQ0MjY3LDM0LjA5MTE0NjQgMjUuNTI3MzQzOCwzMy45Njg3NSBDMjUuNTcxNjE0OCwzMy44OTA2MjQ2IDI1LjU5Mzc1LDMzLjcyNzg2NTggMjUuNTkzNzUsMzMuNDgwNDY4OCBMMjUuNTkzNzUsMjguNzUgWiBNMjkuOTIxODc1LDI5LjIxNDg0MzggTDI5LjU3MDMxMjUsMjkuNTc4MTI1IEMyOS4yNzg2NDQ0LDI5LjI5NDI2OTQgMjguOTkzNDkxLDI5LjE1MjM0MzggMjguNzE0ODQzOCwyOS4xNTIzNDM4IEMyOC41Mzc3NTk1LDI5LjE1MjM0MzggMjguMzg2MDY4MywyOS4yMTA5MzY5IDI4LjI1OTc2NTYsMjkuMzI4MTI1IEMyOC4xMzM0NjI5LDI5LjQ0NTMxMzEgMjguMDcwMzEyNSwyOS41ODIwMzA1IDI4LjA3MDMxMjUsMjkuNzM4MjgxMiBDMjguMDcwMzEyNSwyOS44NzYzMDI4IDI4LjEyMjM5NTMsMzAuMDA3ODExOSAyOC4yMjY1NjI1LDMwLjEzMjgxMjUgQzI4LjMzMDcyOTcsMzAuMjYwNDE3MyAyOC41NDk0Nzc1LDMwLjQxMDE1NTQgMjguODgyODEyNSwzMC41ODIwMzEyIEMyOS4yODkwNjQ1LDMwLjc5Mjk2OTggMjkuNTY1MTAzNCwzMC45OTYwOTI4IDI5LjcxMDkzNzUsMzEuMTkxNDA2MiBDMjkuODU0MTY3NCwzMS4zODkzMjM5IDI5LjkyNTc4MTIsMzEuNjExOTc3OSAyOS45MjU3ODEyLDMxLjg1OTM3NSBDMjkuOTI1NzgxMiwzMi4yMDgzMzUxIDI5LjgwMzM4NjYsMzIuNTAzOTA1IDI5LjU1ODU5MzgsMzIuNzQ2MDkzOCBDMjkuMzEzODAwOSwzMi45ODgyODI1IDI5LjAwNzgxNDMsMzMuMTA5Mzc1IDI4LjY0MDYyNSwzMy4xMDkzNzUgQzI4LjM5NTgzMjEsMzMuMTA5Mzc1IDI4LjE2MjExMDUsMzMuMDU1OTkwMSAyNy45Mzk0NTMxLDMyLjk0OTIxODggQzI3LjcxNjc5NTgsMzIuODQyNDQ3NCAyNy41MzI1NTI4LDMyLjY5NTMxMzQgMjcuMzg2NzE4OCwzMi41MDc4MTI1IEwyNy43MzA0Njg4LDMyLjExNzE4NzUgQzI4LjAwOTExNiwzMi40MzIyOTMyIDI4LjMwNDY4NTksMzIuNTg5ODQzOCAyOC42MTcxODc1LDMyLjU4OTg0MzggQzI4LjgzNTkzODYsMzIuNTg5ODQzOCAyOS4wMjIxMzQ2LDMyLjUxOTUzMiAyOS4xNzU3ODEyLDMyLjM3ODkwNjIgQzI5LjMyOTQyNzksMzIuMjM4MjgwNSAyOS40MDYyNSwzMi4wNzI5MTc2IDI5LjQwNjI1LDMxLjg4MjgxMjUgQzI5LjQwNjI1LDMxLjcyNjU2MTcgMjkuMzU1NDY5MywzMS41ODcyNDAyIDI5LjI1MzkwNjIsMzEuNDY0ODQzOCBDMjkuMTUyMzQzMiwzMS4zNDUwNTE1IDI4LjkyMzE3ODksMzEuMTk0MDExMyAyOC41NjY0MDYyLDMxLjAxMTcxODggQzI4LjE4MzU5MTgsMzAuODEzODAxMSAyNy45MjMxNzc4LDMwLjYxODQ5MDUgMjcuNzg1MTU2MiwzMC40MjU3ODEyIEMyNy42NDcxMzQ3LDMwLjIzMzA3MiAyNy41NzgxMjUsMzAuMDEzMDIyMSAyNy41NzgxMjUsMjkuNzY1NjI1IEMyNy41NzgxMjUsMjkuNDQyNzA2NyAyNy42ODgxNDk5LDI5LjE3NDQ4MDIgMjcuOTA4MjAzMSwyOC45NjA5Mzc1IEMyOC4xMjgyNTYzLDI4Ljc0NzM5NDggMjguNDA2MjQ4MywyOC42NDA2MjUgMjguNzQyMTg3NSwyOC42NDA2MjUgQzI5LjEzMjgxNDUsMjguNjQwNjI1IDI5LjUyNjAzOTcsMjguODMyMDI5MyAyOS45MjE4NzUsMjkuMjE0ODQzOCBMMjkuOTIxODc1LDI5LjIxNDg0MzggWiIgaWQ9Im1vLcK3LS1qcyIgc3Ryb2tlPSIjRjM0MjQ2IiBzdHJva2Utd2lkdGg9IjAiIG9wYWNpdHk9IjAuNjUwMDExNjYiPjwvcGF0aD4gICAgICAgIDwvZz4gICAgPC9nPjwvc3ZnPg==");
}
body {
  background: #333;
  font-size: 16px;
}
.controls {
  padding-bottom: 0.3125rem;
  position: relative;
}
.controls__repeat {
  position: absolute;
  z-index: 1;
  left: 0.375rem;
  top: 0.0625rem;
}
.controls__timeline {
  padding-left: 1.875rem;
}
.icon {
  fill: #8c8c8c;
  opacity: 0.5;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  display: block;
}
.icon:after {
  content: '';
  position: absolute;
  width: 200%;
  height: 200%;
  z-index: 1;
  top: -50%;
  left: -50%;
}
.icon:after {
  outline: 1px solid #008000;
}
.icon--repeat {
  width: 1.125rem;
  height: 1.125rem;
}
.icon:hover {
  opacity: 1;
}
.icon:active {
  opacity: 0.5;
}
.motion {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30rem;
  height: 25rem;
  margin-top: -14.285714285714286rem;
  margin-left: -15rem;
}
.motion__controls {
  position: absolute;
  width: 75%;
  left: 8%;
  bottom: 1.25rem;
  z-index: 1;
}
.svg-canvas__svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  opacity: 0.5;
}
input[type=range]:active,
input[type=range]:hover {
  opacity: 1;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #8c8c8c;
}
input[type=range]:focus::-ms-fill-lower {
  background: #8c8c8c;
}
input[type=range]:focus::-ms-fill-upper {
  background: #8c8c8c;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.0625rem;
  cursor: pointer;
  animate: 0.2s;
  background: #8c8c8c;
  border-radius: 1.3px;
}
input[type=range]::-webkit-slider-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #8c8c8c;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 0.0625rem;
  cursor: pointer;
  animate: 0.2s;
  background: #8c8c8c;
  border-radius: 50%;
}
input[type=range]::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #8c8c8c;
  border-width: 0;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 0.0625rem;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #8c8c8c;
  border-radius: 50%;
}
input[type=range]::-ms-fill-upper {
  background: #8c8c8c;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  background: #8c8c8c;
  cursor: pointer;
}
