doctype
html
  head
    meta(charset='UTF-8')
    title mo · js
    link(rel="stylesheet", type="text/css", href="css/main.css")
    meta(name="viewport", content="width=device-width, user-scalable=no")
  
  body
    input(type="range", min="0", max="100000", value="0", style="width:70%")#js-slider

    .svg-canvas#js-svg-canvas
      svg.svg-canvas__svg
        //- ball 2
        g
          //- curve 1
          path(d="M287,235.670827 C187.791726,11.4579344 151.764383,181.797782 155.219461,234.670827", fill="none")#js-curve-1
          path(d="M287,235.670827 C187.791726,11.4579344 151.764383,181.797782 155.219461,234.670827", fill="none")#js-curve-1-mask
        g(id='js-o2', transform='translate(253.000000, 174.000000) rotate(-135, 33, 33)', stroke1='#FEFEFE', stroke-width='2', fill="none")
          path(d='M16.4498754,17.6682596 L50.4246052,50.5853726 C55.2204437,46.2220917 57.3684211,40.2605437 57.3684211,33.7478992 C57.3684211,20.6322966 46.7646388,10 33.6842105,10 C20.6037822,10 10,20.6322966 10,33.7478992 C10,46.8635017 20.6037822,57.4957983 33.6842105,57.4957983 C40.1148437,57.4957983 45.9468896,54.9260498 50.2146691,50.7548286')
          path(d='M16.4498754,17.6682596 L50.4246052,50.5853726 C55.2204437,46.2220917 57.3684211,40.2605437 57.3684211,33.7478992 C57.3684211,20.6322966 46.7646388,10 33.6842105,10 C20.6037822,10 10,20.6322966 10,33.7478992 C10,46.8635017 20.6037822,57.4957983 33.6842105,57.4957983 C40.1148437,57.4957983 45.9468896,54.9260498 50.2146691,50.7548286')
          path(d='M16.4498754,17.6682596 L50.4246052,50.5853726 C55.2204437,46.2220917 57.3684211,40.2605437 57.3684211,33.7478992 C57.3684211,20.6322966 46.7646388,10 33.6842105,10 C20.6037822,10 10,20.6322966 10,33.7478992 C10,46.8635017 20.6037822,57.4957983 33.6842105,57.4957983 C40.1148437,57.4957983 45.9468896,54.9260498 50.2146691,50.7548286')
        g(id='js-o2-line', transform='translate(274.000000, 239.000000)', stroke1='#FEFEFE', stroke-width='2')
          path(d='M-7.46069873e-14,1.31932773 L27.6952293,1.31932773')
          path(d='M-7.46069873e-14,1.31932773 L27.6952293,1.31932773')
          path(d='M-7.46069873e-14,1.31932773 L27.6952293,1.31932773')
      svg.svg-canvas__svg
        path(d="M155.219461,234.470827 C256.749214,45.2260249 359.634766,130.155713 357.466797,234.470827", fill="none")#js-curve-2
        path(d="M155.219461,234.470827 C256.749214,45.2260249 359.634766,130.155713 357.466797,234.470827", fill="none")#js-curve-2-mask
        g(transform='translate(142.000000, 185.000000)', stroke1='#FEFEFE', stroke-width1='2')
          g#js-o1-line-1
            path(d='M14.4681748,56.4154786 L14.4681748,10.3704254')
            path(d='M14.4681748,56.4154786 L14.4681748,10.3704254')
            path(d='M14.4681748,56.4154786 L14.4681748,10.3704254')
          g#js-o1-line-2
            path(d='M0.152385328,1.68975318 L27.8476147,1.68975318')
            path(d='M0.152385328,1.68975318 L27.8476147,1.68975318')
            path(d='M0.152385328,1.68975318 L27.8476147,1.68975318')
          g#js-o1-circle(transform="translate(-11.5,8)")
            ellipse
            ellipse
            ellipse
      svg.svg-canvas__svg
        path(d="M357.447266,234.470827 C211.126953,-18.9175695 208,234.470827 208,234.470827", fill="none")#js-curve-3
        path(d="M357.447266,234.470827 C211.126953,-18.9175695 208,234.470827 208,234.470827", fill="none")#js-curve-3-mask
        g#n(transform='translate(313.000000, 182.000000)', stroke1='#F6A623', stroke-width='2', fill="none")
          g#js-n-1
            path(d='M44.3702971,0 L44.3702971,57.6742056 L0.589583337,1.04713547 L8.953906,1.04713547 L44.3702971,47.0406689')
            path(d='M44.3702971,0 L44.3702971,57.6742056 L0.589583337,1.04713547 L8.953906,1.04713547 L44.3702971,47.0406689')
            path(d='M44.3702971,0 L44.3702971,57.6742056 L0.589583337,1.04713547 L8.953906,1.04713547 L44.3702971,47.0406689')
          g#js-n-2
            path(d='M44,0.00170809031 L44,56.7160707 L68.8373606,33.1138772')
            path(d='M44,0.00170809031 L44,56.7160707 L68.8373606,33.1138772')
            path(d='M44,0.00170809031 L44,56.7160707 L68.8373606,33.1138772')
      svg.svg-canvas__svg
        path(d="M208.222656,234.470827 C109,-17 89,234.470827 89,234.470827", fill="none")#js-curve-4
        path(d="M208.222656,234.470827 C109,-17 89,234.470827 89,234.470827", fill="none")#js-curve-4-mask
        g#js-t(sketch:type='MSLayerGroup', transform='translate(191.000000, 183.000000)')
          g#js-t-line-1
            path(d='M17.3157895,60.0150887 L17.3157895,2')
            path(d='M17.3157895,60.0150887 L17.3157895,2')
            path(d='M17.3157895,60.0150887 L17.3157895,2')
          g#js-t-line-2
            path(d='M0,1.31932773 L32.1182043,1.31932773')
            path(d='M0,1.31932773 L32.1182043,1.31932773')
            path(d='M0,1.31932773 L32.1182043,1.31932773')
          g#js-t-line-3
            path(d='M0,7.31932773 L32.1182043,7.31932773')
            path(d='M0,7.31932773 L32.1182043,7.31932773')
            path(d='M0,7.31932773 L32.1182043,7.31932773')

      svg.svg-canvas__svg
        path#js-curve-5(d='M89,234.470827 C89,234.470827 209.009766,-25.0815972 240.529297,234.470827', fill="none")
        path#js-curve-5-mask(d='M89,234.470827 C89,234.470827 209.009766,-25.0815972 240.529297,234.470827', fill="none")
        g#js-m(transform='translate(83.000000, 184.000000)', fill="none")
          g#js-m-line-2()
            path(d='M0.0649285567,58.3490973 L0.0649285567,0.607639314 L43.9350714,37.9133678 L43.9350714,47.0178902 L0.0649285567,9.46407539')
            path(d='M0.0649285567,58.3490973 L0.0649285567,0.607639314 L43.9350714,37.9133678 L43.9350714,47.0178902 L0.0649285567,9.46407539')
            path(d='M0.0649285567,58.3490973 L0.0649285567,0.607639314 L43.9350714,37.9133678 L43.9350714,47.0178902 L0.0649285567,9.46407539')
          g(transform='translate(-8.000000, 0.000000)')
            g#js-m-line-1
              path(d='M0.0649285567,19.5005026 L21.883712,0.607639314 L21.9123021,58.4931435')
              path(d='M0.0649285567,19.5005026 L21.883712,0.607639314 L21.9123021,58.4931435')
              path(d='M0.0649285567,19.5005026 L21.883712,0.607639314 L21.9123021,58.4931435')

        g#js-circles-right(transform='translate(403.000000, 205.000000)', fill="none")
          g#js-circles-right-bottom
            path(d='M1.97368421,3.95798319 C3.0637199,3.95798319 3.94736842,3.07195848 3.94736842,1.9789916 C3.94736842,0.886024718 3.0637199,0 1.97368421,0 C0.88364852,0 0,0.886024718 0,1.9789916 C0,3.07195848 0.88364852,3.95798319 1.97368421,3.95798319 Z')
            path(d='M1.97368421,3.95798319 C3.0637199,3.95798319 3.94736842,3.07195848 3.94736842,1.9789916 C3.94736842,0.886024718 3.0637199,0 1.97368421,0 C0.88364852,0 0,0.886024718 0,1.9789916 C0,3.07195848 0.88364852,3.95798319 1.97368421,3.95798319 Z')
            path(d='M1.97368421,3.95798319 C3.0637199,3.95798319 3.94736842,3.07195848 3.94736842,1.9789916 C3.94736842,0.886024718 3.0637199,0 1.97368421,0 C0.88364852,0 0,0.886024718 0,1.9789916 C0,3.07195848 0.88364852,3.95798319 1.97368421,3.95798319 Z')
          g#js-circles-right-top
            path(d='M1.97368421,18.4705882 C3.0637199,18.4705882 3.94736842,17.5845635 3.94736842,16.4915966 C3.94736842,15.3986298 3.0637199,14.512605 1.97368421,14.512605 C0.88364852,14.512605 0,15.3986298 0,16.4915966 C0,17.5845635 0.88364852,18.4705882 1.97368421,18.4705882 Z')
            path(d='M1.97368421,18.4705882 C3.0637199,18.4705882 3.94736842,17.5845635 3.94736842,16.4915966 C3.94736842,15.3986298 3.0637199,14.512605 1.97368421,14.512605 C0.88364852,14.512605 0,15.3986298 0,16.4915966 C0,17.5845635 0.88364852,18.4705882 1.97368421,18.4705882 Z')
            path(d='M1.97368421,18.4705882 C3.0637199,18.4705882 3.94736842,17.5845635 3.94736842,16.4915966 C3.94736842,15.3986298 3.0637199,14.512605 1.97368421,14.512605 C0.88364852,14.512605 0,15.3986298 0,16.4915966 C0,17.5845635 0.88364852,18.4705882 1.97368421,18.4705882 Z')

      svg.svg-canvas__svg
        g#js-i(transform='translate(233.000000, 183.000000)')
          g#js-i-line-3
            path(d='M8.31578947,58.8761456 L8.31578947,-150')
            path(d='M8.31578947,58.8761456 L8.31578947,-150')
            path(d='M8.31578947,58.8761456 L8.31578947,-150')
          g#js-i-line-2
            path(d='M0,29.3193277 L16.2531981,29.3193277')
            path(d='M0,29.3193277 L16.2531981,29.3193277')
            path(d='M0,29.3193277 L16.2531981,29.3193277')
          g#js-i-line-1
            path(d='M0,24.3193277 L16.2531981,24.3193277')
            path(d='M0,24.3193277 L16.2531981,24.3193277')
            path(d='M0,24.3193277 L16.2531981,24.3193277')
        g#js-circles-left(sketch:type='MSLayerGroup', transform='translate(37.000000, 205.000000)', stroke='#ECECEC', stroke-width='1.3')
          g#js-circles-left-bottom
            path(d='M1.97368421,3.95798319 C3.0637199,3.95798319 3.94736842,3.07195848 3.94736842,1.9789916 C3.94736842,0.886024718 3.0637199,0 1.97368421,0 C0.88364852,0 0,0.886024718 0,1.9789916 C0,3.07195848 0.88364852,3.95798319 1.97368421,3.95798319 Z')
            path(d='M1.97368421,3.95798319 C3.0637199,3.95798319 3.94736842,3.07195848 3.94736842,1.9789916 C3.94736842,0.886024718 3.0637199,0 1.97368421,0 C0.88364852,0 0,0.886024718 0,1.9789916 C0,3.07195848 0.88364852,3.95798319 1.97368421,3.95798319 Z')
            path(d='M1.97368421,3.95798319 C3.0637199,3.95798319 3.94736842,3.07195848 3.94736842,1.9789916 C3.94736842,0.886024718 3.0637199,0 1.97368421,0 C0.88364852,0 0,0.886024718 0,1.9789916 C0,3.07195848 0.88364852,3.95798319 1.97368421,3.95798319 Z')
          g#js-circles-left-top
            path(d='M1.97368421,18.4705882 C3.0637199,18.4705882 3.94736842,17.5845635 3.94736842,16.4915966 C3.94736842,15.3986298 3.0637199,14.512605 1.97368421,14.512605 C0.88364852,14.512605 0,15.3986298 0,16.4915966 C0,17.5845635 0.88364852,18.4705882 1.97368421,18.4705882 Z')
            path(d='M1.97368421,18.4705882 C3.0637199,18.4705882 3.94736842,17.5845635 3.94736842,16.4915966 C3.94736842,15.3986298 3.0637199,14.512605 1.97368421,14.512605 C0.88364852,14.512605 0,15.3986298 0,16.4915966 C0,17.5845635 0.88364852,18.4705882 1.97368421,18.4705882 Z')
            path(d='M1.97368421,18.4705882 C3.0637199,18.4705882 3.94736842,17.5845635 3.94736842,16.4915966 C3.94736842,15.3986298 3.0637199,14.512605 1.97368421,14.512605 C0.88364852,14.512605 0,15.3986298 0,16.4915966 C0,17.5845635 0.88364852,18.4705882 1.97368421,18.4705882 Z')





    //- script(src="js/vendor/mo.js")
    //- script(src="dist/main.js")
    script(src="dist/main.js")




    



